*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
.navi{
    width: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.logo img{
    width: 30%;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: navy;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px 10px;
    background:lightblue;
    color: navy;
    border-radius: 15px;
}


/* Estilos para todo el main */
/* Primer sección */
/* Ajustando tamaño de la sección con la imagen de background */
.bg-primario{
    width:auto;
    margin: auto;
    height: 120vh;
    background-image: url(../img/vaccination.png);
    background-repeat: no-repeat;
    background-position:right top;
    z-index: -1;
}
/* Ajustando el contenido escrito y quitando el estilo del list item */
.content{
    width: auto;
    padding-top: 4%;
    padding-bottom: 22%;
    padding-left: 25px;
    padding-right: 60%;
    text-align:justify;
    color: navy;
}
.content li{
    list-style: none;
}
/* Ajustando el tamaño, color y posición del formulario  */
.vac-info{
    margin: 35px;
    padding: 25px;
    width: auto;
    min-height: auto; 
    border-radius: 19px;
    background: #f2f2f2;
    box-shadow:  25px 25px 50px #a2a2a2,
                 -25px -25px 50px #ffffff;
}
.vac-info h5{
    color: navy;
}
.vac-info form i{
    color: navy !important;
}


/* Segunda sección */
/* Ajustando automáticamente el tamaño de la segunda sección */
.bg-secundario {
    width: auto;
    height: auto;
    margin: auto;
}
/* Ajustando el tamaño de los logotipos */
.content-logos img.logo-astra, img.logo-pfi, img.logo-moder, img.logo-sino{
    width: 24%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 2%;
    padding-right: 2%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1) opacity(0.25);
}


/* Tercera sección */
/* Ajustando automáticamente el tamaño de la tercera sección */
.bg-tercero{
    width: auto;
    height: auto;
    margin: auto;
}
.more-info{
    width: auto;
    padding-right: 50%;
    padding-left: 25px;
    text-align: justify;
    color: navy;
}
.more-info-adi{
    width: auto;
    display: flex;
    align-items: center;
}
.int-info{
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}
.int-info li{
    list-style: none;
    margin: 20px;
    padding: 1%;
    border-radius: 14px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  5px 5px 72px #ededed,
            -5px -5px 72px #ffffff;
}
.int-info li.shadow-effect{
    color: navy;
    text-decoration: none;
    text-align:left;
    transition: all 0.5s;
}
.int-info li.shadow-effect:hover{
    padding: 1%;
    color: navy;
    border-radius: 14px;
    background: linear-gradient(145deg, #9cc2cf, #b9e7f6);
    box-shadow:  35px 35px 69px #68828a,
                -35px -35px 69px #f2ffff;
}


/* Cuarta sección */
.bg-cuarto{
    width: auto;
    margin: auto;
    min-height: 100vh;
    background-image: url(../img/tapabocas.png);
    background-repeat: no-repeat;
    background-size: 674px 599px;
    background-position: left top;
    z-index: -1;
}
.content-before{
    width: auto;
    padding-left: 50%;
    text-align: left;
    color: navy;
}
.tool{
    width: auto;
    margin: auto;
}
.tool .effect-tooltip{
    padding-left: 50%;
    color: navy;
}
.effect-tooltip li{
    margin: 2%;
    width: auto;
    height: auto;
    padding: 2%;
    list-style: none;
    border-radius: 19px;
    background: #f2f2f2;
    box-shadow:  25px 25px 50px #a2a2a2,
                 -25px -25px 50px #ffffff;
}
.show-tooltip-1 .hidee-1{
    display: none;
    padding: 25px;
    border-radius: 6px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -5px -5px 30px #d9d9d9,
                5px 5px 30px #ffffff;
}
.show-tooltip-2 .hidee-2{
    display: none;
    border-radius: 6px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -5px -5px 30px #d9d9d9,
                5px 5px 30px #ffffff;
}
.show-tooltip-3 .hidee-3{
    display: none;
    border-radius: 6px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -5px -5px 30px #d9d9d9,
                5px 5px 30px #ffffff;
}
.show-tooltip-4 .hidee-4{
    display: none;
    border-radius: 6px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -5px -5px 30px #d9d9d9,
                5px 5px 30px #ffffff;
}
.show-tooltip-5 .hidee-5{
    display: none;
    border-radius: 6px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -5px -5px 30px #d9d9d9,
                5px 5px 30px #ffffff;
}
