*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
.navi{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.logo img{
    width: 30%;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: navy;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px 10px;
    background:lightblue;
    color: navy;
    border-radius: 15px;
}


/* Estilos para todo el main */
/* Primer sección */
/* Ajustando tamaño de la sección con la imagen de background */
.bg-primario{
    margin-top: auto;
    margin-bottom: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: auto;
    width:auto;
    height: 120vh;
    background-image: url(../img/vaccination.png);
    background-repeat: no-repeat;
    background-position:right top;
    z-index: -1;
}
/* Ajustando el contenido escrito y quitando el estilo del list item */
.content{
    width: auto;
    padding-top: 4%;
    padding-bottom: 22%;
    padding-left: 25px;
    padding-right: 60%;
    text-align:justify;
    color: navy;
}
.content li{
    list-style: none;
}
/* Ajustando el tamaño, color y posición del formulario  */
.vac-info{
    margin: 35px;
    padding: 25px;
    width: auto;
    min-height: auto; 
    border-radius: 19px;
    background: #f2f2f2;
    box-shadow:  25px 25px 50px #a2a2a2,
                 -25px -25px 50px #ffffff;
}
.vac-info h5{
    color: navy;
}
.vac-info form i{
    color: navy !important;
}


/* Segunda sección */
/* Ajustando automáticamente el tamaño de la segunda sección */
.bg-secundario {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: auto;
    height: auto;
    margin: auto;
}
/* Ajustando el tamaño de los logotipos */
.content-logos img.logo-astra, img.logo-pfi, img.logo-moder, img.logo-sino{
    width: 24%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1) opacity(0.25);
}


/* Tercera sección */
/* Ajustando automáticamente el tamaño de la tercera sección */
.bg-tercero{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: auto;
    width: auto;
    height: auto;
}
.more-info{
    width: auto;
    padding-right: 50%;
    padding-left: 25px;
    text-align: justify;
    color: navy;
}
.more-info-adi{
    width: auto;
    display: flex;
    align-items: center;
}
.int-info{
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}
.int-info li{
    list-style: none;
    margin: 20px;
    padding: 1%;
    border-radius: 14px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  5px 5px 72px #ededed,
            -5px -5px 72px #ffffff;
}
.int-info li.shadow-effect{
    color: navy;
    text-decoration: none;
    text-align:left;
    transition: all 0.5s;
}
.int-info li.shadow-effect:hover{
    padding: 1%;
    color: navy;
    border-radius: 14px;
    background: linear-gradient(145deg, #9cc2cf, #b9e7f6);
    box-shadow:  35px 35px 69px #68828a,
                -35px -35px 69px #f2ffff;
}


/* Cuarta sección */
.bg-cuarto{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: auto;
    padding: auto;
    min-height: 100vh;
    background-image: url(../img/tapabocas.png);
    background-repeat: no-repeat;
    background-size: 674px 599px;
    background-position: left top;
    z-index: -1;
}
.content-before{
    width: auto;
    margin-left: 50%;
    text-align: justify;
    color: navy;
}
.tool{
    margin: auto;
    width: auto;
    height: auto;
}
.tool .effect-tooltip{
    margin: auto;
    padding: auto;
    width: auto;
    height: auto;
    color: navy;
}
.effect-tooltip li{
    margin: 5%;
    width: auto;
    height: auto;
    padding: 5px;
    list-style: none;
    border-radius: 19px;
    background: #f2f2f2;
    box-shadow:  25px 25px 50px #a2a2a2,
                 -25px -25px 50px #ffffff;
}
li.show-1, i.bi{
    align-items: center;
    justify-content: space-between;
}
.hidee-1{
    display: none;
    padding: 10px;
    background: rgba( 156, 194, 207, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 2;
}
.hidee-2{
    display: none;
    padding: 10px;
    background: rgba( 156, 194, 207, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hidee-3{
    display: none;
    padding: 10px;
    background: rgba( 156, 194, 207, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hidee-4{
    display: none;
    padding: 10px;
    background: rgba( 156, 194, 207, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hidee-5{
    display: none;
    padding: 10px;
    background: rgba( 156, 194, 207, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.show-1:hover + .hidee-1{
    display: block;
}
.show-2:hover + .hidee-2{
    display: block;
}
.show-3:hover + .hidee-3{
    display: block;
}
.show-4:hover + .hidee-4{
    display: block;
}
.show-5:hover + .hidee-5{
    display: block;
}

/* Quinta sección */
.bg-quinto{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: auto;
    width: auto;
    min-height: 75vh;
    background-image: url(../img/serviciocliente.png);
    background-repeat: no-repeat;
    background-size: 800px 580px;
    background-position:right top;
    z-index: -1;
}
.content-contact{
    margin-right: 50%;
    padding: 1%;
    text-align: justify;
    color: navy;
}
.bg-glass{
    padding: 4%;
    border-radius: 14px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  35px 35px 69px #a5a2a2dc,
            -35px -35px 69px #c4c2c2;
}
button.call-now, button.chat-now, button.video-call-now, button.message-now{
    background-color: whitesmoke;
    color: navy;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: lightblue;
    color: navy;
}

/* Estilo del footer */
.bg-footer{
    background-color: aliceblue;
}